@use '../base/reset' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/typographyAbstracts' as *;
@use '../base/typography' as *;

.about {
  &__collapse {
    width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >= 375px) {
      width: 70%;
      gap: 1.5rem;
    }

    &-item {
      width: 100%;
    }
  }

  .collapse--about {
    background-color: $color-primary;
  }
}
