@use '../base/reset' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/typographyAbstracts' as *;
@use '../base/typography' as *;

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: $color-tertiary;
  border-radius: 8px;
}

@media (width >= 375px) {
  .gallery {
    gap: 2rem;
    padding: 2rem;
  }
}
