@use '../base/reset' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/typographyAbstracts' as *;
@use '../base/typography' as *;

.rating {
  display: flex;
  gap: 4px;
}

.rating__star {
  font-size: $font-size-m;

  &--full {
    color: $color-primary;
  }

  &--empty {
    color: $color-star-empty;
  }
}

@media (width >= 375px) {
  .rating__star {
    font-size: $font-size-xl;
  }
}
