// Couleurs principales
$color-primary: #ff6060;
$color-secondary: #000;
$color-tertiary: #f6f6f6;

// Neutres et typo
$color-dark: #000;
$color-light: #fff;
$color-background-light: #fff;
$color-background-dark: #000;

// typography
$font-family-base: 'montserrat', sans-serif;
